$small: 500px;

.Content {
  img {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  p {
    font-size: 1.2rem;
    line-height: 2.2rem;
    @media screen and (max-width: $small) {
      font-size: 1.1rem;
      line-height: 2rem;
    }
    margin-bottom: 2rem;
  }

  blockquote {
    margin-bottom: 2rem;
    padding: 0 1rem;
    font-size: 1.3rem;
    color: #d6d6d6;
    border-left: 4px solid #d6d6d6;
  }

  pre {
    border: 1px solid #d6d6d6;
    overflow-x: auto;
    font-weight: 400;
    font-size: .875em;
    line-height: 1.7142857;
    margin-top: 1.7142857em;
    margin-bottom: 1.7142857em;
    border-radius: 0.375rem;
    padding: 0.8571429em 1.1428571em;
  }

  a {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
    text-decoration-color: #9333ea;
    font-weight: 600;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(to right, (#a855f7, #9333ea));
  }
}